<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add Country</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="col-6 offset-3 mt-5 pt-4">
    <form class="card px-3 py-3 mt-5" method="post" th:action="@{'/country/addcountry'}">
      <h2 class="text-center mb-3">Add Country</h2>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="country_name" placeholder="country_name" name="country_name" required>
        <label for="country_name">Name</label>
      </div>
      <div class="form-floating mb-3">
        <!-- Поскольку в таблице countries столбец code имеет ограничение по длине в 3 символа, то и в форме для ввода данных в поле code также установим ограничение длины в 3 символа -->
        <input type="text" maxlength="3" class="form-control" id="country_code" placeholder="country_code" name="country_code" required>
        <label for="country_code">Code</label>
      </div>
      <div class="d-grid gap-2 col-4 mx-auto">
        <button class="btn btn-success" type="submit">SAVE</button>
      </div>
    </form>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>